.navbar_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5vh 3vw;
  position: relative;
  z-index: 1;
}
.title {
  font-family: mars;
  font-size: 2vw;
}

.components {
  font-family: poppins;
  font-size: 1.2vw;
  padding: 0vh 2vw;
}

.components ul {
  list-style-type: none;
  display: flex;
}
.components li {
  margin-right: 3vw;
}
.components li:last-child {
  margin-right: 0;
}
.components li :hover {
  color: yellow;
}

.components a {
  text-decoration: none;
  color: white;
}
